*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body {
height: 5000px;

}
.photo {
margin-left: 15px;
margin-bottom:  25px;
margin-top: 20px;
width: 170px;
border-radius: 100%; 
border: 0.5rem solid rgba(255, 255, 255, 0.2);

}
.main {
background-color: #bd5d38;
height: inherit;
position: fixed;
width: 20%;
padding-top:120px;
 


}
#menu {
width: 20%;
text-align: center;
height: 100vh;

}
#menu {
float: left;
width: 20%;
}
.class {
margin: 0;
padding: 0; 
width: 200px;


}
li a{
text-decoration: none;
letter-spacing: 0.5rem;
text-align: center;
font-weight: 800;
color: white 
}
li {
padding: 0.5rem 6rem; 
margin: auto;

}
.name {
padding: 0.5rem 3rem;
padding-bottom: 20px;
}


.auto:hover {
color: black;
}

#about{
    float: right;
    width: 80%;
}
.abouth {
    display: inline;
    font-size: 70px;
    color: #343a40;
    font-weight: 700;
}
.surname {
    font-size: 70px;
    color: #bd5d38;
    font-weight: 700;
    padding-left: 20px;
  }
  .contact {
    font-size: 1rem;
    color: #868e96;
    margin-bottom: 3rem;
                              
  }
  .mail {
    text-decoration: none;
    color: #824027;
  }
  .prgf {
    margin-top: 40px;
    font-size: 1.15rem;
    font-weight: 400;
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }
  .head{
      margin-left: 50px;
      margin-top: 100px;
  }
.meta {
display: flex;
justify-content: flex-start;

}
.col{
height: 80px;
width: 80px;
line-height: 150px;



}
.icon i {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
     text-align: center;
    font-size: 1.5rem;  
    line-height: 3.5rem ;
margin-right: 0.5rem;
margin-left: 50px;
margin-bottom: 530px;

}

hr{
margin-top: 120px;

}
.icon i:hover {
background-color: #bd5d38;

}